<div class="courses-list">
  <h2>Courses List</h2>
  <mat-list>
    @for(course of courses$ | async; track course.id) {
      <button mat-icon-button color="primary" (click)="toggleLessons(course.id)" matTooltip="show lessons">
        <mat-icon>menu_book</mat-icon>
      </button>
      <button class="item-list" mat-button (click)="navigateToCourseDetail(course.id)">
        {{ course.title }} - {{ course.description }}
      </button>
    @if(selectedCourseId === course.id){
    <div>
      <mat-list>
      @for(lesson of lessons$ | async;track lesson.id) {
        <mat-list-item>
          <div class="lesson-details">
            {{ lesson.title }} - {{ lesson.content }}
          </div>
        </mat-list-item>
      }
      </mat-list>
    
    </div>
    }
    }
    @empty {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
    }
  </mat-list>
</div>
<router-outlet></router-outlet>