<h2 mat-dialog-title>{{ data.isEditMode ? 'Edit Lesson' : 'Add Lesson' }}</h2>
<mat-dialog-content>
    <form [formGroup]="data.form">
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
            @if(data.form.get('title')?.hasError('required')){
            <mat-error>
                Title is required
            </mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Content</mat-label>
            <textarea matInput formControlName="content"></textarea>
            @if(data.form.get('content')?.hasError('required')){
            <mat-error>
                Content is required
            </mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</mat-dialog-actions>