@use '@angular/material' as mat;

html {
  color-scheme: light dark;

  // Define your primary and accent colors directly
  --primary-color: #02182a; // Example primary color
  --accent-color: #5d7179; // Example accent color

  // Set the theme colors
  --mat-primary: var(--primary-color);
  --mat-accent: var(--accent-color);
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
